
@{
    ViewBag.Title = "User Preferences";
}

<h2>User Preferences</h2>
<p>Normally I'd save your preferences to the database, imaginary user, but I doubt you're going to use this test app more than once (you've heard of iTunes right?), so your preferences will expire when your session expires.</p>

