
@{
    ViewBag.Title = "User Preferences";
}
<h2>User Preferences</h2>
<p>Nothing to see here. Just practicing creating an additional section. I was originally also going to save the user's album sort preferences here, but I figured it'd be better to demonstrate ajax loading of a partial view than focus on the UX for a throwaway demo app.</p>

