@model MvcMusicStore.ViewModels.StoreIndexViewModel
@{
    ViewBag.Title = "Store";
}
<h3>Browse Genres</h3>

<p>
    Select from @Model.Genres.Count() genres:</p>

<div id="container">
    <label for="ddlCategory"><strong>Select a category</strong></label>
    @Html.DropDownListFor(
    x => x.SelectedItemId,
    new SelectList(Model.SortMethods, "Id", "Name")
)
    <br /><br />
    <div id="dvCategoryResults">
        @{Html.RenderPartial("SortChoicesResults", Model);}
    </div>
</div> 

<ul>
    @foreach (var genre in Model.Genres)
    {
        <li>@Html.ActionLink(genre.Name, "Browse", new { genre = genre.Name }) (@genre.Albums.Count())</li>
    }
</ul>
