@model MvcMusicStore.ViewModels.StoreIndexViewModel
@{
    ViewBag.Title = "Store";
}
<h3>Browse Genres</h3>

<p>
    Select from @Model.Genres.Count() genres:</p>

<div id="container">
    <label for="SelectedSortMethod"><strong>Change Sorting Method</strong></label>
    @Html.DropDownListFor(
    x => x.SelectedSortMethod,
    new SelectList(Model.SortMethods, "Id", "Name")
)
    <br /><br />
    <div id="dvCategoryResults">
        @{Html.RenderPartial("SortChoicesResults", Model);}
    </div>
</div> 

<script type="text/javascript">
    $(document).ready(function () {
        $("#SelectedSortMethod").change(function () {
            var sortMethodId = $("#SelectedSortMethod").val();
            $("#dvCategoryResults").load('@(Url.Action("SortChoicesResults", "Store", null, Request.Url.Scheme))?sortMethodId=' + sortMethodId);
        });
    });
</script>  
