@model MvcMusicStore.ViewModels.StoreIndexViewModel
<ul>
    @foreach (var genre in Model.Genres)
    {
        <li>@Html.ActionLink(genre.Name, "Browse", new { genre = genre.Name }) (@genre.Albums.Count())</li>
    }
</ul>